header,h3,h4{
    text-align: center;
    color: gray;
    font-family: Arial;
}
#slider{
   text-align: center;
}
body{
    width:500px;
    height:1050px;
    margin: auto;
    background-color: lightyellow;
    font-family: Arial;
}

form{
    width:500px;
    text-align: center;
}

.footer{
    font-family: Arial;
    width: 500px;
    text-align: center;
    bottom: 0;
    background-color: mistyrose;
    color: purple;
}
